$kebabSiteBackground: goldenrod;
$kebabSiteHeaderBackground: rgb(0, 0, 0);
$buttonsTextColor: #ffff;
$menuChoiceColor: bisque;
$plusColor: rgb(93, 211, 142);
$flex-item: tomato;
$buttonOrderColor: darkgreen;
$drinksOrderButtonColor: rgb(71, 52, 0);
$minusColor: red;
$plusButtonInYourShoppingColor: rgb(56, 87, 9);
$ClickToPayButtonColor: green;
$payAndOrderButtonColor: antiquewhite;
$mailLinkColor: rgb(33, 124, 71);
