.Center-drinks {
  color: $buttonsTextColor;
  padding: 0 auto;

  text-decoration: none;

  margin-right: 4px;
  display: flex;
  flex-wrap: wrap;
}

.Kebab-drinks {
  color: $kebabSiteHeaderBackground;
  padding: 0 auto;
  margin-top: 8px;
  text-decoration: none;
  border-style: solid;
  border-color: $kebabSiteHeaderBackground;
  display: flex;
  margin-top: 30px;
  margin-left: 30px;

  flex-direction: column;

  background-color: $menuChoiceColor;
}

.button-drinks {
  width: 310px;
  height: 50px;
  background-color: $drinksOrderButtonColor;
  color: $buttonsTextColor;
  font-size: large;
}

.titke {
  text-align: center;
  font-family: arial;
  font-size: 24px;
}

.price {
  text-align: center;
  font-family: arial;
}

.desc {
  text-align: center;
  font-family: arial;
}

.quantity {
  font-family: arial;
  font-size: 24px;
}
