.Center {
  color: $buttonsTextColor;
  padding: 0 auto;

  text-decoration: none;

  display: flex;
  flex-wrap: wrap;
}

.Kebab-pizza {
  color: $kebabSiteHeaderBackground;
  padding: 0 auto;
  margin-top: 8px;
  text-decoration: none;
  border-style: solid;
  border-color: $kebabSiteHeaderBackground;
  display: flex;
  margin-top: 51px;

  flex-direction: column;

  background-color: $menuChoiceColor;
}
.Foods {
  display: flex;
}

.button-kebab {
  width: 310px;
  height: 50px;
  background-color: $buttonOrderColor;
  color: $buttonsTextColor;
  font-size: large;
}
