.index {
  text-align: left;

  &-kebabDay {
    display: flex;
    flex-direction: row;
  }
}

.font {
  font-family: arial;
  font-size: 24px;
}

.ul {
  text-align: left;
}

.img-test {
  max-width: 100%;
}

.img-testTwo {
  margin-left: 450px;
  max-width: 100%;
}

.dotsInside {
  list-style-position: inside;
  text-align: left;
}
