@import "colors.scss";

.job {
  display: flex;

  &-info {
    margin-top: 100px;
  }

  &-text {
    text-decoration: none;
    display: flex;
    margin-top: 50px;
    width: 500px;
    text-align: left;
    list-style-position: inside;
  }

  &-texttwo {
    text-decoration: none;
    display: flex;

    width: 600px;
  }
}
.mailto {
  color: $kebabSiteHeaderBackground;
}
.mailto:hover {
  text-decoration: underline;
  color: $mailLinkColor;
}
