@import "colors.scss";
@import "common.scss";
@import "index.scss";
@import "contact.scss";
@import "restauration.scss";
@import "yourShopping.scss";
@import "job.scss";
@import "payment.scss";
@import "foods.scss";
@import "drinks.scss";
.page-selection {
  color: $buttonsTextColor;
}

.headers {
  text-decoration: none;
}

.counter_price {
  &-text-center {
    text-align: center;
    margin-top: 300px;
  }

  &-table {
    font-weight: 500;
    font-size: medium;
  }
  &-button_order {
    margin-top: 20px;
    margin-left: 820px;
    align-items: center;
  }
  &-order {
    background-color: $buttonOrderColor;
    color: $payAndOrderButtonColor;
    font-size: medium;
  }

  &-text-center {
    text-align: center;
    margin-bottom: 20px;
  }
}
