// TODO - co jacko ma zrobić

// - spróbować pogrupować klasy tak jak .job i w środku te podklasy job

// - potworzyć pliki scss pod każdą podstronę, i tam wydzielić style do każdej podstrony
// - stworzyć plik scss z WSPÓLNYMI stylami

@import "colors.scss";
@import "common.scss";
@import "index.scss";
@import "contact.scss";
@import "restauration.scss";
@import "yourShopping.scss";
@import "job.scss";
@import "payment.scss";
@import "foods.scss";

.page-selection {
  color: $buttonsTextColor;
}

.headers {
  text-decoration: none;
}

.Kebab-pizza {
  color: $kebabSiteHeaderBackground;
  padding: 0 auto;
  margin-top: 8px;
  text-decoration: none;
  border-style: solid;
  border-color: $kebabSiteHeaderBackground;
  display: flex;
  margin-top: 51px;
  margin-left: 40px;

  flex-direction: column;

  background-color: $menuChoiceColor;
}

.Foods {
  display: flex;
}

.nawigacja {
  font-size: 20pt;
}

.flex-item {
  background: $flex-item;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: $buttonsTextColor;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.drinks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  padding: 0;
  margin: 0;
  list-style: none;
}

.button-kebab {
  width: 310px;
  height: 50px;
  background-color: $buttonOrderColor;
  color: $buttonsTextColor;
  font-size: large;
}

.Kebab-drinks {
  color: $kebabSiteHeaderBackground;
  padding: 0 auto;
  margin-top: 8px;
  text-decoration: none;
  border-style: solid;
  border-color: $kebabSiteHeaderBackground;
  display: flex;
  margin-top: 51px;
  margin-left: 40px;

  flex-direction: column;

  background-color: $menuChoiceColor;
}

.button-drinks {
  width: 310px;
  height: 50px;
  background-color: $drinksOrderButtonColor;
  color: $buttonsTextColor;
  font-size: large;
}

.plus-minus-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bi-dash-square {
  color: $minusColor;
}

.bi-plus-square {
  color: $plusButtonInYourShoppingColor;
}

.HomeBtn,
.checkout,
.RemoveAll {
  background-color: $kebabSiteHeaderBackground;
  color: $buttonsTextColor;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
}

.checkout {
  background-color: $ClickToPayButtonColor;
}
.RemoveAll {
  background-color: $minusColor;
}

.bi-x-lg {
  color: $minusColor;
  font-weight: bold;
}

.cart-item {
  border: 2px solid $kebabSiteHeaderBackground;
  border-radius: 5px;
  display: flex;
}

.titke-price-x {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1px;
}
.titke-price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-item-price {
  background-color: $kebabSiteHeaderBackground;
  color: $buttonsTextColor;
  border-radius: 3px 6px;
}

.payment {
  margin-top: 200px;
  margin-left: 400px;
  display: flex;
  flex-direction: column;
}
