body {
  background-color: goldenrod;
  margin: 0;
}

header {
  background-color: rgb(0, 0, 0);
  padding: 1px;
}

nav > ul > li {
  display: inline-block;
  list-style: none;
  margin: 0 5px;
}

.container-fluid {
  font-family: arial;
  font-size: 24px;
  height: 200px;
  text-align: center;
}

.noumber_one {
  text-decoration: none;
  color: white;
}

.noumber_one:hover {
  text-decoration: underline;
}

.noumber_two {
  text-decoration: none;
  color: white;
}

.noumber_two:hover {
  text-decoration: underline;
}

.cart {
  display: flex;
}

.XD {
  color: white;
}

.XD {
  text-decoration: none;
}

.XD:hover {
  text-decoration: underline;
  color: rgb(93, 211, 142);
}

.plus-minus-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bi-dash-square {
  color: red;
}

.bi-plus-square {
  color: rgb(56, 87, 9);
}

.index {
  text-align: left;
}
.index-kebabDay {
  display: flex;
  flex-direction: row;
}
.index-Kebab-biggest {
  flex-direction: row;
  list-style-position: inside;
}
.index-Maklowicz {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  width: 100%;
}
.index-Maklowicz-text {
  width: 500px;
  margin-left: 40px;
}

.allMarginTop {
  margin-top: 200px;
}

.Contact {
  color: rgb(0, 0, 0);
  padding: 0 auto;
  text-decoration: none;
  display: flex;
  text-align: left;
  margin-top: 60px;
}
.Contact-phone_number {
  color: rgb(0, 0, 0);
}
.Contact-phone_number:hover {
  text-decoration: underline;
  color: rgb(33, 124, 71);
}
.Contact-mailto {
  color: rgb(0, 0, 0);
}
.Contact-mailto:hover {
  text-decoration: underline;
  color: rgb(33, 124, 71);
}
.Contact-photos {
  margin-top: 360px;
}

.restauration-text {
  margin-left: 200px;
}

.test {
  display: flex;
  flex-direction: row;
}

.shopping-article {
  margin-top: 70px;
  text-align: center;
}
.shopping-article-text-center {
  text-align: center;
  margin-bottom: 20px;
}
.shopping-article-cart {
  display: grid;
  grid-template-columns: repeat(1, 500px);
  justify-content: center;
  gap: 15px;
}

.HomeBtn,
.checkout,
.RemoveAll {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
}

.checkout {
  background-color: green;
}

.RemoveAll {
  background-color: red;
}

.bi-x-lg {
  color: red;
  font-weight: bold;
}

.cart-item {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  display: flex;
}

.titke-price-x {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1px;
}

.titke-price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-item-price {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 3px 6px;
}

.payment {
  margin-top: 200px;
  margin-left: 400px;
  display: flex;
  flex-direction: column;
}

.job {
  display: flex;
}
.job-info {
  margin-top: 100px;
}
.job-text {
  text-decoration: none;
  display: flex;
  margin-top: 50px;
  width: 500px;
  text-align: left;
  list-style-position: inside;
}
.job-texttwo {
  text-decoration: none;
  display: flex;
  width: 600px;
}

.mailto {
  color: rgb(0, 0, 0);
}

.mailto:hover {
  text-decoration: underline;
  color: rgb(33, 124, 71);
}

.counter_price-button_order {
  -webkit-text-size-adjust: 200px;
     -moz-text-size-adjust: 200px;
          text-size-adjust: 200px;
  width: 1000px;
  height: 500px;
}

.AllItems {
  margin-left: 800px;
}

.form-control {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mb-3 {
  width: 300px;
}

.form-control {
  width: 300px;
}

.buttonTestowy {
  border-radius: 20px;
  border: 5px #5f9bd1 solid;
}

.Center {
  color: white;
  padding: 0 auto;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
}

.Kebab-pizza {
  color: rgb(0, 0, 0);
  padding: 0 auto;
  margin-top: 8px;
  text-decoration: none;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  display: flex;
  margin-top: 51px;
  flex-direction: column;
  background-color: bisque;
}

.Foods {
  display: flex;
}

.button-kebab {
  width: 310px;
  height: 50px;
  background-color: darkgreen;
  color: white;
  font-size: large;
}

.Center-drinks {
  color: white;
  padding: 0 auto;
  text-decoration: none;
  margin-right: 4px;
  display: flex;
  flex-wrap: wrap;
}

.drinks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.Kebab-drinks {
  color: rgb(0, 0, 0);
  padding: 0 auto;
  margin-top: 8px;
  text-decoration: none;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  display: flex;
  margin-top: 51px;
  margin-left: 40px;
  flex-direction: column;
  background-color: bisque;
}

.button-drinks {
  width: 310px;
  height: 50px;
  background-color: rgb(71, 52, 0);
  color: white;
  font-size: large;
}

.page-selection {
  color: white;
}

.headers {
  text-decoration: none;
}

.nawigacja {
  font-size: 20pt;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.counter_price {
  margin-top: 200px;
}
.counter_price-text-center {
  text-align: center;
  margin-bottom: 20px;
}
.counter_price-payFor {
  margin-top: 240px;
  margin-left: 820px;
}
.counter_price-table {
  font-weight: 500;
  font-size: medium;
}
.counter_price-button_order {
  margin-top: 20px;
  margin-left: 820px;
}
.counter_price-order {
  background-color: darkgreen;
  color: antiquewhite;
  font-size: medium;
}

.InformationAboutBuyer {
  margin-right: 1000px;
  margin-bottom: 200px;
}

.counter_price-button_order {
  align-items: center;
}

.counter_price {
  margin-top: 200px;
}
.counter_price-text-center {
  text-align: center;
  margin-bottom: 20px;
}
.counter_price-payFor {
  margin-top: 240px;
  margin-left: 820px;
}
.counter_price-table {
  font-weight: 500;
  font-size: medium;
}
.counter_price-button_order {
  margin-top: 20px;
  margin-left: 820px;
}
.counter_price-order {
  background-color: darkgreen;
  color: antiquewhite;
  font-size: medium;
}/*# sourceMappingURL=site.css.map */