.shopping-article {
  margin-top: 70px;
  text-align: center;

  &-text-center {
    text-align: center;
    margin-bottom: 20px;
  }
  &-cart {
    display: grid;
    grid-template-columns: repeat(1, 500px);
    justify-content: center;
    gap: 15px;
  }
}

.HomeBtn,
.checkout,
.RemoveAll {
  background-color: $kebabSiteHeaderBackground;
  color: $buttonsTextColor;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
}
.checkout {
  background-color: $ClickToPayButtonColor;
}
.RemoveAll {
  background-color: $minusColor;
}
.bi-x-lg {
  color: $minusColor;
  font-weight: bold;
}
.cart-item {
  border-radius: 5px;
  display: flex;
  background-color: bisque;

  padding: 0.25rem;

  border: 2px solid;
  border-radius: 0.375rem;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.titke-price-x {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1px;
}
.titke-price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.shopping-article {
  margin-top: 220px;
}
