body {
  background-color: goldenrod;
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding: 1px;
}
nav > ul > li {
  display: inline-block;
  list-style: none;

  margin: 0 5px;
}

.page-selection {
  color: #ffff;
}
.XD {
  color: #ffff;
}

.container {
  display: flex;
  height: 300px;
  background-color: red;
}
.container {
  font-family: arial;
  font-size: 24px;
  margin: 25px;

  height: 200px;
  outline: dashed 1px black;
  text-align: center;
}

.Contact {
  color: rgb(0, 0, 0);
  padding: 0 auto;

  text-decoration: none;
  margin-left: 200px;
  margin-right: 20px;
  display: flex;
  text-align: left;
}

.headers {
  text-decoration: none;
}
.Center {
  color: white;
  padding: 0 auto;

  text-decoration: none;

  margin-right: 4px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 150px;
}

.Kebab-pizza {
  color: rgb(0, 0, 0);
  padding: 0 auto;
  margin-top: 8px;
  text-decoration: none;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  display: flex;
  margin-top: 51px;
  margin-left: 40px;

  flex-direction: column;

  background-color: bisque;
}

.Foods {
  display: flex;
}

.columns-deskop {
}

.restauration {
  margin-left: 200px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.nawigacja {
  font-size: 20pt;
}

.XD {
  text-decoration: none;
}

.XD:hover {
  text-decoration: underline;
  color: rgb(93, 211, 142);
}
.job {
  margin-left: 300px;
  margin-top: -40px;
}

.job-text {
  text-decoration: none;
  display: flex;
  margin-top: -80px;
  width: 500px;
  text-align: left;
}

.job-texttwo {
  text-decoration: none;
  display: flex;
  margin-top: 260px;
  width: 600px;
  margin-left: -500px;
}

main {
  margin-top: 400px;
}

.job-container {
  display: flex;
}

.index {
  margin-left: 280px;
  text-align: left;
  display: flex;
}

.Maklowicz-text {
  width: 500px;
}

.Kebab-biggest {
  flex-direction: row;
  margin-top: 110px;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.drinks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  padding: 0;
  margin: 0;
  list-style: none;
}

.button-kebab {
  width: 310px;
  height: 50px;
  background-color: darkgreen;
  color: #ffff;
  font-size: large;
}

.Kebab-drinks {
  color: rgb(0, 0, 0);
  padding: 0 auto;
  margin-top: 8px;
  text-decoration: none;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  display: flex;
  margin-top: 51px;
  margin-left: 40px;

  flex-direction: column;

  background-color: bisque;
}
.Center-drinks {
  color: white;
  padding: 0 auto;

  text-decoration: none;

  margin-right: 4px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 150px;
}

.button-drinks {
  width: 310px;
  height: 50px;
  background-color: rgb(71, 52, 0);
  color: #ffff;
  font-size: large;
}

.columns-deskop-drinks {
}

.shopping {
  color: aliceblue;
}

.plus-minus-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bi-dash-square {
  color: red;
}

.bi-plus-square {
  color: rgb(56, 87, 9);
}

.cart {
  display: flex;
}

.shopping-article {
  margin-top: 500px;
  text-align: center;
}

.text-center {
  text-align: center;
  margin-bottom: 20px;
}
.HomeBtn,
.checkout,
.RemoveAll {
  background-color: black;
  color: white;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
}

.checkout {
  background-color: green;
}
.RemoveAll {
  background-color: red;
}

.bi-x-lg {
  color: red;
  font-weight: bold;
}

.shopping-cart {
  display: grid;
  grid-template-columns: repeat(1, 320px);
  justify-content: center;
  gap: 15px;
}
.cart-item {
  border: 2px solid #212529;
  border-radius: 5px;
  display: flex;
}

.titke-price-x {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.titke-price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-item-price {
  background-color: #212529;
  color: white;
  border-radius: 3px 6px;
}
