body {
  background-color: goldenrod;
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding: 1px;
}
nav > ul > li {
  display: inline-block;
  list-style: none;

  margin: 0 5px;
}

.page-selection {
  color: #ffff;
}
.XD {
  color: #ffff;
}

.container {
  display: flex;
  height: 300px;
  align-items: center;

  background-color: red;
}
.container {
  font-family: arial;
  font-size: 24px;
  margin: 25px;

  height: 200px;
  outline: dashed 1px black;
  text-align: center;
}

.Contact {
  color: rgb(0, 0, 0);
  padding: 0 auto;
  margin-top: 800px;
  text-decoration: none;
  margin-left: 200px;
  margin-right: 20px;
  display: flex;
  text-align: left;
}

.headers {
  text-decoration: none;
}
.Center {
  color: white;
  padding: 0 auto;
  margin-top: 800px;
  text-decoration: none;

  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
}

.Kebab-pizza {
  color: white;
  padding: 0 auto;
  margin-top: 8px;
  text-decoration: none;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  display: flex;
  margin-top: 51px;
  margin-left: 40px;
}

.Foods {
  display: flex;
}

.columns-deskop {
  margin-top: 800px;
}

.restauration {
  margin-top: 1100px;

  margin-left: 200px;
}
.restauration-text {
  margin-top: 400px;

  width: 350px;
}

.nawigacja {
  font-size: 20pt;
}

.XD {
  text-decoration: none;
}

.XD:hover {
  text-decoration: underline;
  color: rgb(93, 211, 142);
}
.job {
}

.job-text {
  text-decoration: none;
  display: flex;

  width: 500px;
  text-align: left;
}

.job-texttwo {
  text-decoration: none;
  display: flex;

  margin-top: -1px;
  width: 600px;
}

main {
  margin-top: 400px;
}

.job-container {
  display: flex;
  margin-top: 500px;
}

.index {
  margin-top: 1500px;
  margin-left: 280px;
  text-align: left;
  display: flex;
}

.Maklowicz {
  margin-top: 100px;
  margin-left: 280px;
  display: flex;
  width: 900px;
  margin-bottom: 100px;
}

.Kebab-biggest {
  flex-direction: row;
  margin-top: 110px;
}
